//FONTS
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');




//VARS
$white: #d8d8d8;
$white-two: #f1f1f1;
$white-three: #ffffff;
$dark-blue-grey: #152935;
$metallic-blue: #517489;
$dark-sky-blue: #4a90e2;